@page "/counter"

<PageTitle>Counter</PageTitle>
<SweetDialog>
    <DialogContent>
        <h1>Counter</h1>

        <p role="status">Current count: @currentCount</p>

        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </DialogContent>
</SweetDialog>


@code {
    [CascadingParameter] SweetDialogInstance Dialog { get; set; }
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
